:root {
  /* Colors */
  --prussian-blue: #1c3144ff;
  --engineering-orange: #d00000ff;
  --selective-yellow: #ffba08ff;

  --font-color: #fff;
  --font-color2: #808080;
  --primary-color: var(--selective-yellow);
  --bg-color: var(--prussian-blue);
  --accent-color: var(--engineering-orange);

  --border-radius: 10px;
  --shadow-top: 0px -2px 8px 3px rgba(0, 0, 0, 0.25);
  --shadow-bottom: 0px 2px 8px 3px rgba(0, 0, 0, 0.25);
  --shadow-right-bottom: 2px 2px 2px rgba(0, 0, 0, 0.25);
  --transition: 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  font-size: 1.3rem;
  color: var(--font-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2 {
  text-transform: capitalize;
}

.centered {
  width: clamp(50%, 70%, 90%);
  margin: 0 auto;
}

.text-primary {
  color: var(--primary-color);
}

.text-accent {
  color: var(--accent-color);
}

/* Header section */

.header {
  background-color: var(--bg-color);
  box-shadow: var(--shadow-bottom);
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0;
}

.nav .logo {
  font-size: 2rem;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}

.nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style-type: none;
}

.nav ul a {
  color: unset;
  text-decoration: none;
  font-weight: 600;
  transition: color var(--transition);

  &:hover {
    color: var(--primary-color);
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
}

.hero-text {
  flex: 1;
  padding: 1rem;
}

.hero-text h1 {
  font-size: 3rem;
}

.hero-text p {
  padding: 1rem 0;
  font-size: 1.4rem;
  line-height: 1.5;
}

.hero-text button {
  margin: 1rem;
  margin: 0 auto;
  font-size: 1.3rem;
  padding: 1rem 2.5rem;
  font-weight: 600;
  color: var(--font-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: var(--border-radius);
  transition: background-color var(--transition);

  &:hover {
    cursor: pointer;
  }
}

.hero-img {
  flex: 500px;
}

.hero-img img {
  width: 100%;
  border-radius: var(--border-radius);
}

/* Info section */

.info {
  text-align: center;
  padding: 10rem 0;
}

.info-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
  width: 300px;
  height: 300px;
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  box-shadow: var(--shadow-right-bottom);
}

.card img {
  width: 100%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.card span {
  display: block;
  padding: 1rem;
  font-size: 1.2rem;
}

/* Quote section */

.quote-section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 0;
  color: var(--font-color2);
}

.profile {
  margin: 0 auto;
}

.profile img {
  width: 100%;
  border-radius: 50%;
  box-shadow: var(--shadow-right-bottom);
}

.profile h3 {
  padding: 1rem 0;
  text-align: center;
}

.quote {
  flex: 1 0;
  padding: 1rem;
  font-style: italic;
  font-size: 2rem;

  &::before {
    content: '"';
    font-size: 5rem;
  }
}

/* Footer section */

.footer {
  padding: 2rem 1rem;
  text-align: center;
  background-color: var(--bg-color);
  box-shadow: var(--shadow-top);
}

@media (max-width: 1250px) {
  .centered {
    width: 90%;
  }

  .hero-text {
    padding: 0;
    text-align: center;
  }
}
